<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
   
    <listeners>
        <listener class-name="com.heroapp.ExtendReportListener.ExtentReporterNG" />
        <listener class-name="com.heroapp.util.ListenerTest" />
    </listeners>
   
   <test name="Heroapp Regression Test Cases">
            
        <classes>
        	<class name="com.heroapp.testcases.RegisterPageTest" />
        </classes>
        
    </test>
</suite> <!-- Suite -->
